:root{
    --primary: #3d9ec4;
    --black: #333;
    --lightwh: rgba(230, 230, 230, .8);
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}



*{
    padding: 0px;
    margin: 0px;
}

label{
    color: var(--black);
}

html{
    box-sizing: border-box;
    color: var(--dark);
    width: 100vw;
}

body{
    margin-top: -32px !important;
    padding: 50px;
    background-color: var(--primary);
    width: 100vw;
}

header{
    background-repeat: no-repeat;
    background-position: center; 
    background-image: url('https://source.unsplash.com/1600x900/?nature,water');
    display: flex !important;
    flex-direction: column;
    box-shadow: var(--shadow);
    justify-content: center;
    align-items: center;
    height: 105vh;


}

.App-title{
    font-size: 100px!important;
    font-weight: 600!important;
}

img{
    max-width: 100%;
}
i.material-icons{
    margin: 10px;
    color: var(--primary)
}
.input-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 30px 0px, 10px;
    background-color: var(--lightwh);
    border-radius: 10px;
    height: 100px;
    padding: 10px 30px 10px 30px;
}

.input-field{
    width: 90%;

}

img.radar{
    width: 300px;
    height: auto;
}

.App{
    display: grid;
    grid-gap: 20px;
}

header>h1{
    color: white;

}

a.searching>i{
    color: red!important;
}