:root{
    --primary: #3d9ec4;
    --black: #333;
    --lightwh: rgba(230, 230, 230, .8);
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

@font-face {
    font-family: lobster;
    src: url('../fonts/LobsterTwo-BoldItalic.otf');
}

header h1 {
    font-family: lobster;
}

*{
    padding: 0px;
    margin: 0px;
}

label{
    color: var(--black);
}

html{
    box-sizing: border-box;
    color: var(--dark);
    width: 100vw;
}

body{
    margin-top: -32px !important;
    padding: 50px;
    background-color: var(--primary);
    width: 100vw;
}
section{
    color: var(--lightwh);
}
header{
    background-repeat: no-repeat;
    background-position: center; 
    background-image: url('https://source.unsplash.com/1600x900/?nature,water');
    display: flex !important;
    flex-direction: column;
    box-shadow: var(--shadow);
    justify-content: center;
    align-items: center;
    height: 105vh;
    width: 100vw;
    background-size: cover;


}

.App-title{
    font-size: 100px!important;
    font-weight: 600!important;
}

img{
    max-width: 100%;
}
i.material-icons{
    margin: 10px;
    -webkit-transition: color 1s;
    transition: color 500ms;
    color: var(--primary)
}
.input-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 30px 0px, 10px;
    background-color: var(--lightwh);
    border-radius: 10px;
    height: 100px;
    padding: 10px 30px 10px 30px;
    margin: 30px;
}

.input-field{
    width: 90%;
    color: var(--primary)
}
label{
    color: #777777!important;
}
img.radar{
    width: 300px;
    height: auto;
}
input{
    color:#000
}
.App{
    display: grid;
    grid-gap: 20px;
}

header h1{
    color: white;

}

a.searching>i{
    -webkit-transition: color 1s;
    transition: color 500ms;
    color: #ddd;
    
}

a>i{
    cursor: default;
}


::placeholder{ 
    color:    #333!important;
}

a.btn-find{
    display: block;
    border:2px solid white;
    border-radius: 10px;
    font-size: 2em;
    font-weight: 300;
    color: white;
    cursor: default;


}
.weather-box{
    position: absolute;
    top: 0px;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hidden{
    transition: opacity 500ms;
    opacity:0;
}

.visible{
    transition: opacity 500ms;
    opacity:1;
}
.today{
    width: 256px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 30px;
}

i{
    background-repeat: no-repeat;
}
